html {
    font-family: sans-serif;
    font-size: 18px;
    background: #999;
}
#chess {
    width: 320px;
}
#chess .cell {
    display: inline-block;
    width: 40px;
    height: 32px;
    padding-top: 8px;
    text-align: center;
    background: #fff;
    color: #000;
}
#chess .cell:nth-child(16n + 2),
#chess .cell:nth-child(16n + 4),
#chess .cell:nth-child(16n + 6),
#chess .cell:nth-child(16n + 8),
#chess .cell:nth-child(16n + 9),
#chess .cell:nth-child(16n + 11),
#chess .cell:nth-child(16n + 13),
#chess .cell:nth-child(16n + 15) {
    background: rgba(0,0,0,1);
    color: #fff;
}
